<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
    <suite name="main">
        <listeners>
            <listener class-name="main.java.listenerTestNG"/>
        </listeners>
        <test name="testNGTest">
            <classes>
                <class name="main.java.Main" />
            </classes>
        </test>
    </suite>